body
{
    background-image: url('https://camo.githubusercontent.com/5b8e4cd1a5ce69b6affa17ebd8e4aee00c147618/68747470733a2f2f7374796c6973687468656d65732e6769746875622e696f2f4769744875622d4461726b2f696d616765732f6261636b67726f756e64732f62672d63726f737368617463682e706e67');
    color: rgb(148, 148, 148);
}

body#Home #content #tools,
body#Home #content > .intro
{
    background-color: #181818;
    border-color: #777777;
}

.subnav, .subnav-helper
{
    background-color: #181818;
    border-color: #777777;
}

.quickindex
{
    background-color: #181818;
}

.leadingrow
{
    background-color: #18181888;
}

.bnf, .d_code, .d_code2, .d_decl
{
    background-color: #181818;
}

.d_decl > div
{
    border-color: #777777;
}

.d_decl + dd
{
    border-color: #777777;
}

table td
{
    border-color: #777777;
}

pre, pre.prettyprint, div.prototype
{
    background-color: #181818;
    border-color: #777777;
}
